<footer>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-4 offset-sm-8">
        <p>
          <a href="<%= data.webHost %>">
            <%= svg['logo-white'] %>
          </a>
        </p>
        <p>
          <a href="mailto:letsworkremote@gmail.com">
            <i class="fa fa-envelope"></i>
            letsworkremote@gmail.com
          </a>
          <br>
          <a href="https://twitter.com/letsworkremote" target="_blank">
            <i class="fa fa-twitter"></i>
            letsworkremote
          </a>
          <br>
          <a href="https://facebook.com/letsworkremote" target="_blank">
            <i class="fa fa-facebook"></i>
            letsworkremote
          </a>
        </p>
        <p>
          <small>
            Made with ♥ in many places worldwide by <a href="https://twitter.com/kamilleblumm" target="_blank">@kamilleblumm</a> and <a href="https://twitter.com/coderbyheart" target="_blank">@coderbyheart</a>.<br>
            © 2017 All rights reserved.
          </small>
        </p>
      </div>
    </div>
  </div>
</footer>
