<main>
  <article class="container">
    <header class="row">
      <section class="col-12">
        <h1>
          <a href="<%= data.webHost %>">
            <%= svg['logo'] %>
          </a>
          <br>
          <small>Das deutschsprachige Portal rund um die Arbeit in Remote Teams ist ein Projekt von Tanja und Markus Tacker und derzeit im Aufbau.</small>
        </h1>
      </section>
    </header>
    <section class="row" id="team">
      <div class="col-6 col-md-3 offset-md-2">
        <a href="https://twitter.com/kamilleblumm" target="_blank">
          <img src="https://farm3.staticflickr.com/2892/9445454314_d60314d7ee_q_d.jpg" class="avatar"
               alt="Tanja Tacker"><br>
          Tanja
        </a>
      </div>
      <div class="col-6 col-md-3 offset-md-2">
        <a href="https://twitter.com/coderbyheart" target="_blank">
          <img src="https://coderbyheart.com/images/me.jpg" class="avatar" alt="Markus Tacker"><br>
          Markus
        </a>
      </div>
    </section>
    <hr>
    <section class="row" id="newsletter">
      <div class="col-12 col-lg-6">
        <h2>Bleib auf dem Laufenden!</h2>
        <p>Wir bereiten noch ein paar Dinge vor, bis dahin kannst Du unseren Newsletter abonnieren, uns auf <a href="https://twitter.com/letsworkremote" target="_blank">auf <span class="text-nowrap"><i class="fa fa-twitter"></i> Twitter</span> folgen</a> und uns <a href="https://facebook.com/letsworkremote">auf <span class="text-nowrap"><i class="fa fa-facebook"></i> Facebook</span><em> liken</em></a>.</p>
      </div>
      <div class="col-12 col-lg-6">
        <form class="form-inline" action="https://lets-work-remote.us15.list-manage.com/subscribe/post" method="post">
          <label class="sr-only" for="email">E-Mail</label>
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
            <input type="email" required class="form-control" id="email" placeholder="z.B. &quot;ich@email.de&quot;" name="MERGE0">
          </div>
          <button type="submit" class="btn btn-primary">
            <i class="fa fa-send"></i>
            <span>Absenden</span>
          </button>
          <input type="hidden" name="u" value="a9406673e1d1627dfb95c6a95">
          <input type="hidden" name="id" value="eb1f192c7e">
        </form>
      </div>
    </section>
  </article>

</main>
